---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<h2>Talks</h2>
<h3>Invited Talks & Colloquia</h3>
{% for post in site.talks reversed %}
  {% if post.type == "Invited talk" or post.type == "Colloquium" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

<h3>Contributed Talks</h3>
{% for post in site.talks reversed %}
  {% if post.type == "Contributed talk" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

<h2>Posters</h2>
{% for post in site.talks reversed %}
  {% if post.type == "Poster" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

